{% extends "main.twig" %}

{% block content %}

<section class="clearFix">
    <div class="container">
        <div class="introMessage">
            <h1>Film: {{ filmNaam }} (<a href="films.php">wijzigen</a>)</h1>
            <h2>Datum: {{ gekozenDatum }} (<a href="index.php">wijzigen</a>)</h2>
            <h2>Uur: {{ programmatieTijd.0 }}:{{ programmatieTijd.1 }} (<a href="films.php">wijzigen</a>)</h2>
        </div>
    </div>
</section>


<section class="clearFix">
    <div class="container">
        <table border="1" class="zaal">
            <caption class="tableCaption">Kies een zetel in zaal nummer {{ zaal.zaal_id }}</caption>

                <tr>
                    <th></th>
                    {% for j in 1..zaal.zaal_kolommen %}
                        <th>Zetel {{ j }}</th>
                    {% endfor %}
                </tr>

                {% for i in 1..zaal.zaal_rijen %}
                    <tr>
                        <th>Rij {{ i }}</th>
                        {% for j in 1..zaal.zaal_kolommen %}
                            {% for reservatie in reservaties if reservatie.rij == i and reservatie.kolom == j %}
                                <td class="gereserveerd">
                                    {#<a href='zaal.php?rij={{ i }}&kolom={{ j }}'></a>#}
                                </td>
                                {% else %}
                                    <td>
                                        <a href='overzicht.php?rij={{ i }}&kolom={{ j }}'></a>
                                    </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
        </table>




    </div>
</section>

{% endblock %}